:root {
  --blue: #264653;
  --yellow: #eac974;
  --teal: #2a9d8f;
  --orange: #f4a261;
  --red-orange: #e76f51;
  --gray: #d2d0d0;
}

body {
  background-color: var(--yellow);
}

.app-header {
  background-color: var(--blue);
}

.nav-link,
a {
  cursor: pointer;
  text-decoration: none;
}

.app-header a {
  color: rgba(255, 255, 255, 0.55);
}

.nav-link:hover,
.app-header a:hover {
  color: white;
}

.table-head {
  background-color: var(--red-orange);
  color: white;
}

.table-body {
  background-color: var(--orange);
  color: white;
}

.card-comp {
  background-color: var(--teal);
  color: white;
}

.link-unstyled,
.link-unstyled:link {
  color: inherit;
  text-decoration: inherit;
}
